:root{
    --themeColor:#005bac;
    --customColor: #aed9ff;
    --delColor: #FF5722;
}
*{box-sizing: border-box;}
html,body{width: 100%;overflow-x:hidden;}
.fz12px{font-size: 12px;}
.fz18{font-size: 18px;}
.ml10{margin-left: 10px;}
.mr10{margin-right: 10px;}
.mb10{margin-bottom: 10px;}
.mb20{margin-bottom: 20px;}
.mt10{margin-top: 10px;}
.mt20{margin-top: 20px;}
.tc{text-align: center;}
.tl{text-align: left;}
.tr{text-align: right;}
.fb{font-weight: bold;}
.br8{border-radius: 8px;}
.w200{width: 200px;}
a:not(.custom-hover):hover{color:#005bac !important;}
a.custom-hover:hover{color: #aed9ff !important;}
#header{height: 202px;width: 100%;display: block;}
.w270,.w270+.layui-form-select{width: 270px;}
.flex-between{display: flex;justify-content: space-between;}
.flex-column-between{display: flex;flex-direction: column;justify-content: space-between;}
.white{color: white;}
.fz16{font-size: 16px;}
.center{width: 1200px;margin: 0 auto;}
.primary-color{color: #005bac;}
.gray{color: #bdbdbd;}
.remark{color: #999;}
.del-btn:hover{color: #FF5722 !important;}
#upload{color: #005bac;}
.inner-banner-wrap{height: 300px;width:100%;overflow: hidden;background: url(../images/technical-banner.png) center center no-repeat;background-size: cover} 

/* 重写主题UI 
/* .layui-nav{background-color: #005bac;padding: 0;}
.layui-nav .layui-this:after, .layui-nav-bar, .layui-nav-tree .layui-nav-itemed:after{background-color: #ea9978;} */
.layui-form-radio>i:hover, .layui-form-radioed>i{color: #fff;}
.layui-form-select dl dd.layui-this{background-color: #005bac;}
.middle-form .layui-form-item,.large-form .layui-form-item:not(.mobile){display: flex;justify-content: flex-start;align-items: center;}
.middle-form .layui-form-item .layui-form-label,.large-form .layui-form-item .layui-form-label{width: 120px;}
.middle-form .layui-form-item .layui-input-block{width: 350px;margin-left: 0;}
.large-form .layui-form-item .layui-input-block{width: 750px;margin-left: 0;}
/* .layui-nav .layui-nav-item+.layui-nav-item{margin-left: 50px;}
.layui-nav .layui-nav-item a{color: #fff;font-size: 16px;} */
.mobile-form{display: none;}
.mobile-nav{display: none;}
.tools-wrap .login-wrap{display: none;}
.member-center-nav{display: none;}
.member-title-wrap{display: none;}
.mobile{display: none;}
.footer{display: none;}
@media screen and (max-width: 768px){
    /* 手机导航 */
     #header{height: 114px;}
    .pc{display: none !important;}
    .mobile{display: block;}
    .mobile-nav{display: block;}
    .tools-wrap .login-wrap{display: block;}
    .member-center-nav{display: block;}
    .member-title-wrap{display: block;}
    .content>.silder{display: none;}
    .center,.content .center{width: 100%;}
    .inner-banner-wrap{height: 160px;}
    .head .nav{display: none;}
    .content .document-wrap{padding-top: 20px;}
    .content .document-wrap{height: auto;}
    .content .document-wrap .form-wrap{height: auto;}
    .document-wrap .form-wrap{margin-top: 20px;}
    .pc-form{display: none;}
    .mobile-form{display:block;}
    .mobile-form .layui-input-block{display: flex;flex-direction: column;}
    .form-wrap .product-detail{width: auto;height: auto;}
    .mobile-form .cols-title{text-align: left;}
    #date-start, #date-end{width: 140px;}
    .product-wrap{height: auto;padding: 20px 0;background-size: cover;}
    .product-wrap .layui-container{margin-top: 20px;}
    .product-wrap button{width: 100%;margin-top: 10px;}
    .footer{display: none;}
    .copyright-wrap{line-height: 20px;padding: 10px 0;}
    .copyright-wrap br{display: block;}
    /* .document-wrap .form-wrap .form-item{display: flex;flex-direction: column;}
    .document-wrap .form-wrap .form-item>div{width: 100%;} */

    /* 会员导航 */
    .member-title-wrap{padding: 20px 0;color: #fff;background-color: #005bac;}
    .member-title-wrap .title{line-height: 36px;font-weight: bold;}
    .member-center-nav .layui-btn+.layui-btn{margin-left: 0;}
    .member-center-nav .btn-container{height: 70px;display: flex;justify-content: space-between;align-content: space-between;flex-wrap: wrap;}
    .member-center-nav .btn-container>a{width: 100px;height: 30px;line-height: 30px;font-size: 13px;}
}